*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #303d41;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* =============== HEADER =============== */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-bottom: solid 3px #fff;
}

h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #cd5c5c;
}

h1 > strong {
  color: #48f7ed;
}

p {
  font-size: 2rem;
  color: #f2f748;
  font-style: italic;
}

p > strong {
  color: #48f761;
  font-weight: normal;
}

/* =============== RECTANGULAR LEVEL BAR =============== */

/* Media screen conditions / Levelbars positioning */
@media (min-width: 900px) {
  .levelbars {
    display: flex;
    flex-direction: column;
  }
}

.levelbars {
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 9rem;
}

.levelbars:first-of-type {
  margin-top: 2rem;
}

/* Levelbars positioning */
.levelbarsRect {
  display: flex;
  width: 12rem;
  height: 2rem;
  border-radius: 0.25rem;
}

/* Different border color */
.-borderRectBlue {
  border: solid 0.25rem #00655f;
}

.-borderRectRed {
  border: solid 0.25rem #6f0016;
}

.-borderRectYellow {
  border: solid 0.25rem #dd8c00;
}

.-borderRectGreen {
  border: solid 0.25rem #094;
}

/* Steps loading animation */
@keyframes loadLevelBlue {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes loadLevelRed {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes loadLevelYellow {
  0% {
    width: 0;
  }

  100% {
    width: 25%;
  }
}

@keyframes loadLevelGreen {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

/* Initial width's level bar */
.levelbarsRect_level {
  width: 0;
}

/* Background-colors & animation properties */
.-blue {
  background-color: #48f7ed;
  animation: loadLevelBlue 2s 500ms normal forwards;
}

.-red {
  background-color: #cd5c5c;
  animation: loadLevelRed 2s 500ms normal forwards;
}

.-yellow {
  background-color: #f2f748;
  animation: loadLevelYellow 2s 500ms normal forwards;
}

.-green {
  background-color: #48f761;
  animation: loadLevelGreen 2s 500ms normal forwards;
}

/* =============== CIRCLE LEVEL BAR =============== */
.levelbarsCircle {
  transform: rotateZ(-90deg);
}

.-circle_hg_wd {
  width: 11rem;
  height: 11rem;
}

@keyframes loadBlueCircleBar {
  100% {
    stroke-dashoffset: 66; /* calc() failed so progress 85% >> calcul = 440 - (440 * 85) / 100 = 66 */
  }
}

.levelbarsCircleblue circle:nth-of-type(2) {
  /* fill définit ici le fond de la forme */
  fill: none;

  /* définit la largeur du contour */
  stroke-width: 1.25rem;

  /* définit la couleur du contour */
  stroke: #48f7ed;

  /* permet de dessiner le contour */
  stroke-dasharray: 440;

  /* permet de définir le point de départ du dessin */
  stroke-dashoffset: 440;
  stroke-linecap: round;

  /* permet un translation du cercle sur l'axe x/y */
  transform: translate(1rem, 1rem);
  animation: loadBlueCircleBar 2s steps(440) forwards;
}

.borderCircle_blue {
  fill: none;
  stroke-width: 2rem;
  stroke: #00655f;
  transform: translate(1rem, 1rem);
}

@keyframes loadRedCircleBar {
  100% {
    stroke-dashoffset: 330;
  }
}

.levelbarsCirclered circle:nth-of-type(2) {
  fill: none;
  stroke-width: 1.25rem;
  stroke: #cd5c5c;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  transform: translate(1rem, 1rem);
  animation: loadRedCircleBar 2s steps(440) forwards;
}

.borderCircle_red {
  fill: none;
  stroke-width: 2rem;
  stroke: #6f0016;
  transform: translate(1rem, 1rem);
}

@keyframes loadYellowCircleBar {
  100% {
    stroke-dashoffset: 220;
  }
}

.levelbarsCircleyellow circle:nth-of-type(2) {
  fill: none;
  stroke-width: 1.25rem;
  stroke: #f2f748;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  transform: translate(1rem, 1rem);
  animation: loadYellowCircleBar 2s steps(440) forwards;
}

.borderCircle_yellow {
  fill: none;
  stroke-width: 2rem;
  stroke: #dd8c00;
  transform: translate(1rem, 1rem);
}

@keyframes loadGreenCircleBar {
  100% {
    stroke-dashoffset: 154;
  }
}

.levelbarsCirclegreen circle:nth-of-type(2) {
  fill: none;
  stroke-width: 1.25rem;
  stroke: #48f761;
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  transform: translate(1rem, 1rem);
  animation: loadGreenCircleBar 2s steps(440) forwards;
}

.borderCircle_green {
  fill: none;
  stroke-width: 2rem;
  stroke: #094;
  transform: translate(1rem, 1rem);
}
