*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/* =============== RECTANGULAR LEVEL BAR =============== */

/* Media screen conditions / Levelbars positioning */
@media (min-width: 900px) {
  #levelbarRect {
    display: flex;
    flex-direction: column;
  }
}

#levelbarRect {
  flex-direction: row;
  justify-content: space-evenly;
}

/* Levelbars positioning */
.levelbarRect {
  display: flex;
  width: 12rem;
  height: 2rem;
  border-radius: 0.25rem;
}

/* Different border color */
.-borderBlue {
  border: solid 0.3rem #00655f;
}

.-borderRed {
  border: solid 0.3rem #6f0016;
}

.-borderYellow {
  border: solid 0.3rem #f2f900;
}

.-borderGreen {
  border: solid 0.3rem #094;
}

/* Steps loading animation */
@keyframes loadLevelBlue {
  0% {
    width: 0;
  }

  100% {
    width: 50%;
  }
}

@keyframes loadLevelRed {
  0% {
    width: 0;
  }

  100% {
    width: 90%;
  }
}

@keyframes loadLevelYellow {
  0% {
    width: 0;
  }

  100% {
    width: 25%;
  }
}

@keyframes loadLevelGreen {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

/* Initial width's level bar */
.levelbarRect_level {
  width: 0;
}

/* Background-colors & animation properties */
.-blue {
  background-color: #48f7ed;
  animation: loadLevelBlue 2s 500ms normal forwards;
}

.-red {
  background-color: #cd5c5c;
  animation: loadLevelRed 2s 500ms normal forwards;
}

.-yellow {
  background-color: #f2f748;
  animation: loadLevelYellow 2s 500ms normal forwards;
}

.-green {
  background-color: #48f761;
  animation: loadLevelGreen 2s 500ms normal forwards;
}
